.wrapper {
	display: grid;
	grid-template-columns: auto 270px minmax(320px, 1200px) auto;
	grid-template-rows: auto auto 1fr auto;
	min-height: 100vh;
	gap: 0 20px;
	grid-template-areas:
		"header header header header"
		"hero hero hero hero"
		". sidebar content ."
		"footer footer footer footer";
}

.header {
	grid-area: header;
}

.hero {
	grid-area: hero;
}


.footer {
	grid-area: footer;
}

.grid_container {
	display: grid;
	grid-template-columns: auto minmax(320px, 1200px) auto;

}

@media (max-width: 765px) {
	.wrapper {
		grid-template-columns: minmax(320px, 1fr);
		grid-template-areas:
			"header"
			"hero"
			"content"
			"footer";
	}

	.sidebar {
		display: none;
	}
}