html,
body {
	margin: 0;
	padding: 0;

	color: var(--text);


	font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;

	color: var(--link-color);
}

p {
	font-family: Arial, Helvetica, sans-serif;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #020101;
	--white: #FFF;
	--primary: #FE9995;
	--primary-hover: #FE9995BA;
	--secondary: #54595F;
	--light-text: #808080;
	--grey-bg: #F4F4F4;
	--text: #262626;
	--link-color: #444;
	--border: #E5E5E5;
	--font-family: 'Playfair Display',
		serif;
}

.grid_container {
	display: grid;
	grid-template-columns: auto minmax(320px, 1500px) auto;

}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}

	body {
		color: white;
		background: black;
	}
}